<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Formatting</key>
	<dict>
		<key>com.apple.calendars.Event</key>
		<dict>
			<key>classification</key>
			<dict>
				<key>mappings</key>
				<array>
					<dict>
						<key>mappedValue</key>
						<string>PUBLIC</string>
						<key>originalValue</key>
						<string>public</string>
					</dict>
					<dict>
						<key>mappedValue</key>
						<string>PRIVATE</string>
						<key>originalValue</key>
						<string>private</string>
					</dict>
					<dict>
						<key>mappedValue</key>
						<string></string>
						<key>originalValue</key>
						<string>confidential</string>
					</dict>
				</array>
			</dict>
			<key>description</key>
			<dict>
				<key>maxLength</key>
				<integer>500</integer>
			</dict>
			<key>end date</key>
			<dict/>
			<key>location</key>
			<dict>
				<key>maxLength</key>
				<integer>500</integer>
			</dict>
			<key>start date</key>
			<dict/>
			<key>summary</key>
			<dict>
				<key>maxLength</key>
				<integer>500</integer>
			</dict>
		</dict>
		<key>com.apple.calendars.Task</key>
		<dict>
			<key>classification</key>
			<dict>
				<key>mappings</key>
				<array>
					<dict>
						<key>mappedValue</key>
						<string>PUBLIC</string>
						<key>originalValue</key>
						<string>public</string>
					</dict>
					<dict>
						<key>mappedValue</key>
						<string>PRIVATE</string>
						<key>originalValue</key>
						<string>private</string>
					</dict>
					<dict>
						<key>mappedValue</key>
						<string></string>
						<key>originalValue</key>
						<string>confidential</string>
					</dict>
				</array>
			</dict>
			<key>completion date</key>
			<dict/>
			<key>description</key>
			<dict>
				<key>maxLength</key>
				<integer>500</integer>
			</dict>
			<key>due date</key>
			<dict/>
			<key>summary</key>
			<dict>
				<key>maxLength</key>
				<integer>500</integer>
			</dict>
		</dict>
		<key>com.apple.contacts.Contact</key>
		<dict>
			<key>birthday</key>
			<dict/>
			<key>company name</key>
			<dict>
				<key>maxLength</key>
				<integer>500</integer>
			</dict>
			<key>first name</key>
			<dict>
				<key>maxLength</key>
				<integer>500</integer>
			</dict>
			<key>image</key>
			<dict/>
			<key>job title</key>
			<dict>
				<key>maxLength</key>
				<integer>500</integer>
			</dict>
			<key>last name</key>
			<dict>
				<key>maxLength</key>
				<integer>500</integer>
			</dict>
			<key>nickname</key>
			<dict>
				<key>maxLength</key>
				<integer>500</integer>
			</dict>
			<key>notes</key>
			<dict>
				<key>maxLength</key>
				<integer>1000</integer>
			</dict>
		</dict>
		<key>com.apple.contacts.Date</key>
		<dict>
			<key>type</key>
			<dict>
				<key>mappings</key>
				<array>
					<dict>
						<key>mappedValue</key>
						<string>X-ANNIVERSARY</string>
						<key>originalValue</key>
						<string>anniversary</string>
					</dict>
					<dict>
						<key>mappedValue</key>
						<string>X-DATE</string>
						<key>originalValue</key>
						<string>other</string>
					</dict>
				</array>
			</dict>
			<key>value</key>
			<dict/>
		</dict>
		<key>com.apple.contacts.Email Address</key>
		<dict>
			<key>type</key>
			<dict>
				<key>mappings</key>
				<array>
					<dict>
						<key>mappedValue</key>
						<string></string>
						<key>originalValue</key>
						<string>other</string>
					</dict>
				</array>
			</dict>
			<key>value</key>
			<dict>
				<key>maxLength</key>
				<integer>500</integer>
			</dict>
		</dict>
		<key>com.apple.contacts.Phone Number</key>
		<dict>
			<key>type</key>
			<dict>
				<key>mappings</key>
				<array>
					<dict>
						<key>mappedValue</key>
						<string>WORK</string>
						<key>originalValue</key>
						<string>work</string>
					</dict>
					<dict>
						<key>mappedValue</key>
						<string>HOME</string>
						<key>originalValue</key>
						<string>home</string>
					</dict>
					<dict>
						<key>mappedValue</key>
						<string>CELL</string>
						<key>originalValue</key>
						<string>mobile</string>
					</dict>
					<dict>
						<key>mappedValue</key>
						<string>FAX</string>
						<key>originalValue</key>
						<string>work fax</string>
					</dict>
					<dict>
						<key>mappedValue</key>
						<string>FAX</string>
						<key>originalValue</key>
						<string>home fax</string>
					</dict>
					<dict>
						<key>mappedValue</key>
						<string></string>
						<key>originalValue</key>
						<string>other</string>
					</dict>
					<dict>
						<key>mappedValue</key>
						<string></string>
						<key>originalValue</key>
						<string>main</string>
					</dict>
					<dict>
						<key>mappedValue</key>
						<string>PAGER</string>
						<key>originalValue</key>
						<string>pager</string>
					</dict>
				</array>
			</dict>
			<key>value</key>
			<dict>
				<key>charsToKeep</key>
				<string>0123456789+#*pw</string>
				<key>maxLength</key>
				<integer>500</integer>
			</dict>
		</dict>
		<key>com.apple.contacts.Related Name</key>
		<dict>
			<key>type</key>
			<dict>
				<key>mappings</key>
				<array>
					<dict>
						<key>mappedValue</key>
						<string>X-FATHER</string>
						<key>originalValue</key>
						<string>father</string>
					</dict>
					<dict>
						<key>mappedValue</key>
						<string>X-MOTHER</string>
						<key>originalValue</key>
						<string>mother</string>
					</dict>
					<dict>
						<key>mappedValue</key>
						<string>X-PARENT</string>
						<key>originalValue</key>
						<string>parent</string>
					</dict>
					<dict>
						<key>mappedValue</key>
						<string>X-CHILD</string>
						<key>originalValue</key>
						<string>child</string>
					</dict>
					<dict>
						<key>mappedValue</key>
						<string>X-BROTHER</string>
						<key>originalValue</key>
						<string>brother</string>
					</dict>
					<dict>
						<key>mappedValue</key>
						<string>X-SISTER</string>
						<key>originalValue</key>
						<string>sister</string>
					</dict>
					<dict>
						<key>mappedValue</key>
						<string>X-FRIEND</string>
						<key>originalValue</key>
						<string>friend</string>
					</dict>
					<dict>
						<key>mappedValue</key>
						<string>X-SPOUSE</string>
						<key>originalValue</key>
						<string>spouse</string>
					</dict>
					<dict>
						<key>mappedValue</key>
						<string>X-PARTNER</string>
						<key>originalValue</key>
						<string>partner</string>
					</dict>
					<dict>
						<key>mappedValue</key>
						<string>X-ASSISTANT</string>
						<key>originalValue</key>
						<string>assistant</string>
					</dict>
					<dict>
						<key>mappedValue</key>
						<string>X-MANAGER</string>
						<key>originalValue</key>
						<string>manager</string>
					</dict>
					<dict>
						<key>mappedValue</key>
						<string>X-NAME</string>
						<key>originalValue</key>
						<string>other</string>
					</dict>
				</array>
			</dict>
			<key>value</key>
			<dict>
				<key>maxLength</key>
				<integer>500</integer>
			</dict>
		</dict>
		<key>com.apple.contacts.Street Address</key>
		<dict>
			<key>city</key>
			<dict>
				<key>maxLength</key>
				<integer>500</integer>
			</dict>
			<key>com.apple.PhoneConduitExtension.extended address</key>
			<dict>
				<key>maxLength</key>
				<integer>500</integer>
			</dict>
			<key>com.apple.PhoneConduitExtension.post office</key>
			<dict>
				<key>maxLength</key>
				<integer>500</integer>
			</dict>
			<key>country</key>
			<dict>
				<key>maxLength</key>
				<integer>500</integer>
			</dict>
			<key>postal code</key>
			<dict>
				<key>maxLength</key>
				<integer>500</integer>
			</dict>
			<key>state</key>
			<dict>
				<key>maxLength</key>
				<integer>500</integer>
			</dict>
			<key>street</key>
			<dict>
				<key>maxLength</key>
				<integer>500</integer>
			</dict>
			<key>type</key>
			<dict>
				<key>mappings</key>
				<array>
					<dict>
						<key>mappedValue</key>
						<string></string>
						<key>originalValue</key>
						<string>other</string>
					</dict>
				</array>
			</dict>
		</dict>
		<key>com.apple.contacts.URL</key>
		<dict>
			<key>type</key>
			<dict>
				<key>mappings</key>
				<array>
					<dict>
						<key>mappedValue</key>
						<string>WORK</string>
						<key>originalValue</key>
						<string>work</string>
					</dict>
					<dict>
						<key>mappedValue</key>
						<string>HOME</string>
						<key>originalValue</key>
						<string>home page</string>
					</dict>
					<dict>
						<key>mappedValue</key>
						<string>HOME</string>
						<key>originalValue</key>
						<string>home</string>
					</dict>
					<dict>
						<key>mappedValue</key>
						<string></string>
						<key>originalValue</key>
						<string>other</string>
					</dict>
				</array>
			</dict>
			<key>value</key>
			<dict>
				<key>maxLength</key>
				<integer>500</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
